* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Drift-Car.jpg);
    background-size: cover;
    background-position: center;
    max-height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    .app-container {
        max-height: 100%;
        max-width: 400px;
        width: 400px;
        margin: 100px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 20px;
        border-radius: 20px;
        display: flex;
        justify-content: center;

        .app {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 50px;
            width: 100%;

            .error-msg {
                color: white;
                font-size: 12px;
                background: #ff0f0f;
                padding: 2px 15px;
                border-radius: 20px;
            }

            .app-form {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .login-h {
                    color: white;
                    margin: 25px;
                    font-weight: bold;
                    font-size: 50px;
                }

                .login-btn {
                    width: 100%;
                    background-color: #643579;
                    border: none;
                    border-radius: 20px;
                    padding: 10px;
                    margin: 10px 50px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    transition: 0.2s;
                    color: #fff;
                }

                .login-btn:hover {
                    background-color: #BB99CD;
                    transition: 0.2s;
                    cursor: pointer;
                }

                .input-container {
                    margin: 10px;
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    .input {
                        padding: 10px 25px;
                        background: transparent;
                        border-radius: 20px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                        border: none;
                        width: 100%;
                        color: white;
                        transition: 0.2s;
                    }

                    .input:focus {
                        border: none;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                        background: #64357950;
                        outline: none;
                        transition: 0.2s;
                    }

                    .input::placeholder {
                        color: white;
                    }
                }

                .forget-password {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin: 10px;

                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 12px;
                        transition: 0.2s;
                    }

                    .register:hover,
                    .forget-password-a:hover {
                        color: #BB99CD;
                        transition: 0.2s;
                    }
                }
            }
        }
    }
}